body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f8f8f8;
}

.container {
  width: 400px;
  margin: 50px auto;
  background-color: grey;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#weather-form {
  display: flex;
  margin-bottom: 20px;
}

#weather-data {
  display: none;
}
button{
  transition: 0.5s;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
button:hover{
  background-color: lightslategray;
  
 
}
button:active{
  opacity: 0.5;
}