button {
  display: flex;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 16px;
  background-color: red;
  color: white;
  margin-left: 60px ;
  margin-top: 80px;
  padding-left: 35px;
  padding-top: 17px;
  cursor: pointer;
  transition: 0.5s;
}

button{
  
}

button:hover {
  background-color: orange;
  color: rgb(172, 12, 12)(255, 0, 191);
}
button:active {
  opacity: 0.6;
}